* {
    color: #3F454A;
    font-family: sans-serif;
}

body {
    background: #F4F4F4;
    text-align: center;
}

h1 {
    color: #009EE2;
}

h2 {
    color: #94A0A8;
}

a:hover {
    color: #009EE2;
}

nav {
    background: #CCD5D9;
}

nav a {
    padding: 10px;
    display: inline-block;
    font-size: 1.1em;
}

fieldset {
    border: solid 1px #94A0A8;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input,
select,
textarea,
.button {
    background: #CCD5D9;
    border: none;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    margin: 5px 0;
}

.button:hover {
    color: #3F454A;
}

input[type=text],
input[type=password] {
    background: none;
    border-bottom: solid 3px #CCD5D9;
}

input[type=submit] {
    cursor: pointer;
}

textarea {
    background: none;
    border: solid 3px #CCD5D9;
}

option {
    background: white;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

thead {
    background: #CCD5D9;
}

tr > * {
    padding: 10px;
    vertical-align: top;
}

tbody {
    text-align: left;
}

tbody tr,
dt {
    border-bottom: solid 1px #CCD5D9;
}

tbody tr:hover {
    background: #e4edf1;
}

li {
    text-align: left;
}

.block {
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #CCD5D9;
}

.wyroznione {
    background-color: #f4ff95;
}

footer {
    margin-top: 50px;
    border-top: solid 1px #CCD5D9;
}

footer * {
    color: #94A0A8;
}

dl {
    display: inline-block;
    text-align: left;
}

dt {
    font-weight: bold;
    margin-bottom: 0.5em;
}

dd {
    margin-bottom: 0.5em;
}

pre {
    white-space: pre-line;
}