<h3>Zgłoszone awarie</h3>
<?php if (empty($awarie)): ?>
    <p>Brak wpisów lub brak dostępu.</p>
<?php else: ?>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Temat</th>
                <th>Opis</th>
                <th>Priorytet</th>
                <th>Data zgłoszenia</th>
                <th>Stan</th>
                <th>Przydzielony specjalista</th>
                <th colspan="3">Akcje</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($awarie as $awaria): ?>
                <tr>
                    <td><?= $awaria['id'] ?></td>
                    <td><?= $awaria['typ_awarii'] ?></td>
                    <td><?= $awaria['temat'] ?></td>
                    <td><?= $awaria['opis'] ?></td>
                    <td><?= $awaria['priorytet_awarii'] ?></td>
                    <td><?= $awaria['data_zgloszenia'] ?></td>
                    <td><?= $awaria['stan_awarii'] ?></td>
                    <td><pre><?= $awaria['dane_specjalista'] ?></pre></td>
                    <td>
                        <a class="button" href="<?= adres("przebieg_awarii", 1) . '&id=' . $awaria['id'] ?>">Przebieg</a>
                    </td>
                    <td>
                        <?php if ($awaria['stan_awarii'] == 'Naprawiono'): ?>
                            <a class="button" href="<?= adres("awaria_zatwierdz", true) . '&id=' . $awaria['id'] ?>">Zatwierdź</a>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php if ($awaria['stan_awarii'] == 'Naprawiono'): ?>
                            <form method="post" action="<?= adres("awaria_utrzymana", true) . '&id=' . $awaria['id'] ?>">
                                <input type="submit" value="Odrzuć" /><br />
                                <input type="text" name="powod" placeholder="Podaj powód" /><br />
                                <input type="text" name="sugestie" placeholder="Dodatkowe sugestie" />
                            </form>
                        <?php elseif ($awaria['stan_awarii'] == 'Nie przydzielono'): ?>
                            <form method="post" action="<?= adres("awaria_zarzuc", true) . '&id=' . $awaria['id'] ?>">
                                <input type="submit" value="Zrezygnuj" /><br />
                                <input type="text" name="powod" placeholder="Podaj powód" /><br />
                                <input type="text" name="sugestie" placeholder="Dodatkowe sugestie" />
                            </form>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>

<h3>Nowa awaria</h3>
<form method="post" action="<?= adres("dodaj_awarie", true) ?>">
    <fieldset>
        <legend>Formularz zgłoszeniowy</legend>
        <p>
            <label>Typ:
                <select name="typ">
                    <option value="">Bez kategorii</option>
                    <?php foreach ($kategorie as $kategoria): ?>
                        <option value="<?= $kategoria['id'] ?>">
                            <?= $kategoria['nazwa'] ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </label>
        </p>
        <p><label>Temat: <input type="text" name="temat" /></label></p>
        <p><label>Opis: <textarea name="opis"></textarea></label></p>
        <p>
            <label>Priorytet:
                <select name="priorytet">
                    <?php foreach ($priorytety as $priorytet): ?>
                        <option value="<?= $priorytet['id'] ?>">
                            <?= $priorytet['nazwa'] ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </label>
        </p>
        <p><input type="submit" value="Zgłoś problem" /></p>
    </fieldset>
</form>
