<h3>Informacje o tobie</h3>
<dl>
    <dt>ID</dt>
    <dd><?= $info["id"] ?></dd>
    <dt>Login</dt>
    <dd><?= $info["login"] ?></dd>
    <dt>Imię</dt>
    <dd><?= $info["imie"] ?></dd>
    <dt>Nazwisko</dt>
    <dd><?= $info["nazwisko"] ?></dd>
    <dt>Typ</dt>
    <dd><?= $info["typ"] ?></dd>
    <dt>Dział</dt>
    <dd><?= $info["dzial"] ?></dd>
    <dt>Miejsce pracy</dt>
    <dd><?= $info["ulica"] ?> <?= $info["nr_domu"] ?><br/><?= $info["kod_pocztowy"] ?> <?= $info["miejscowosc"] ?></dd>
    <dt>Telefon</dt>
    <dd>
        <?php if (isset($info["telefon"])): ?>
            <?= $info["telefon"] ?>
        <?php else: ?>
            <?= "brak" ?>
        <?php endif; ?>
        <form method="post" action="<?= adres("zmien_telefon") ?>">
            <input type="text" name="telefon" placeholder="Podaj nowy nr telefonu" />
            <input type="submit" value="Zmień telefon" />
        </form>
    </dd>
    <dt>E-mail</dt>
    <dd>
        <?php if (isset($info["email"])): ?>
            <?= $info["email"] ?>
        <?php else: ?>
            <?= "brak" ?>
        <?php endif; ?>
        <form method="post" action="<?= adres("zmien_email") ?>">
            <input type="text" name="email" placeholder="Podaj nowy adres e-mail" />
            <input type="submit" value="Zmień e-mail" />
        </form>
    </dd>
    <dt>Hasło</dt>
    <dd>
        <form method="post" action="<?= adres("zmien_haslo") ?>">
            <input type="password" name="stare_haslo" placeholder="Podaj stare hasło" />
            <input type="password" name="nowe_haslo" placeholder="Podaj nowe hasło" />
            <input type="submit" value="Zmień hasło" />
        </form>
    </dd>
    <dt>Urlop</dt>
    <dd>
        <?= $info["urlop"] ? 'TAK' : 'NIE' ?>
        <?php if (!$info["urlop"]): ?>
            <a class="button" href="<?= adres("ustaw_urlop", true) ?>">Ustaw urlop</a>
        <?php else: ?>
            <a class="button" href="<?= adres("zdejmij_urlop", true) ?>">Zdejmij urlop</a>
        <?php endif; ?>
    </dd>
</dl>

<?php if ($_SESSION['dostep_do_przydzielonych_awarii']): ?>
    <h3>Informacje związane ze specjalizacją</h3>
    <dl>
        <dt>Preferowany typ awarii</dt>
        <dd>
            <?= $specjalizacja['nazwa_typ_awarii'] ? $specjalizacja['nazwa_typ_awarii'] : "brak" ?>
            <form method="post" action="<?= adres("zmien_preferowany_typ_awarii", true) ?>">
                <label>Zmień typ awarii:
                    <select name="id">
                        <option value="">Bez kategorii</option>
                        <?php foreach ($typy as $typ): ?>
                            <option
                                value="<?= $typ['id'] ?>"
                                <?php if ($typ['id'] == $specjalizacja['id_typ_awarii']): ?>
                                    selected
                                <?php endif; ?>
                            >
                                <?= $typ['nazwa'] ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </label>
                <input type="submit" value="Zmień preferowany typ awarii" />
            </form>
        </dd>
        <dt>Ilość napraw</dt>
        <dd><?= $specjalizacja['ilosc_napraw'] ?></dd>
        <dt>Skuteczność</dt>
        <dd><?= $specjalizacja['skutecznosc'] ? $specjalizacja['skutecznosc'] : "nie można obliczyć" ?></dd>
        <dt>Ilość obecnie przydzielonych awarii</dt>
        <dd><?= $specjalizacja['obecnie_przydzielono'] ?></dd>
    </dl>
<?php endif; ?>

<h3>Poziomy dostępu</h3>
<dl>
    <dt>Swoje awarie</dt>
    <dd><?= $_SESSION["dostep_do_swoich_awarii"] ? 'TAK' : 'NIE' ?></dd>
    <dt>Wszystkie awarie</dt>
    <dd><?= $_SESSION["dostep_do_awarii"] ? 'TAK' : 'NIE' ?></dd>
    <dt>Administracja typami awarii</dt>
    <dd><?= $_SESSION["dostep_do_typow_awarii"] ? 'TAK' : 'NIE' ?></dd>
    <dt>Przydzielone awarie</dt>
    <dd><?= $_SESSION["dostep_do_przydzielonych_awarii"] ? 'TAK' : 'NIE' ?></dd>
    <dt>Administracja specjalistami</dt>
    <dd><?= $_SESSION["dostep_do_specjalistow"] ? 'TAK' : 'NIE' ?></dd>
</dl>
