<form method="post" action="<?= adres("logowanie_wykonaj") ?>">
    <fieldset>
        <legend>Formularz logowania</legend>
        <p><label>Login: <input type="text" name="login" /></label></p>
        <p><label>Hasło: <input type="password" name="haslo" /></label></p>
        <p><input type="submit" value="Zaloguj się" /></p>
    </fieldset>
</form>
