<h3>Awaria #<?= $info['id'] ?></h3>
<dl>
    <dt>Temat</dt>
    <dd><?= $info['temat'] ?></dd>
    <dt>Typ</dt>
    <dd><?= $info['typ_awarii'] ?></dd>
    <dt>Opis</dt>
    <dd><?= $info['opis'] ?></dd>
    <dt>Zgłaszający</dt>
    <dd><pre><?= $info['dane_pracownik'] ?></pre></dd>
    <dt>Priorytet</dt>
    <dd><?= $info['priorytet_awarii'] ?></dd>
</dl>

<h3>Przebieg naprawy problemu</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Stan</th>
        <th>Data</th>
        <th>Specjalista</th>
        <th>Powód rezygnacji</th>
        <th>Sugestie</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($przebieg as $wpis): ?>
        <tr>
            <td><?= $wpis['id'] ?></td>
            <td><?= $wpis['stan_awarii'] ?></td>
            <td><?= $wpis['data'] ?></td>
            <td><pre><?= $wpis['dane_specjalista'] ?></pre></td>
            <td><?= $wpis['powod'] ?></td>
            <td><?= $wpis['sugestie'] ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>

<a class="button" href="<?= adres($_GET['przekieruj-do']) ?>">Powrót</a>
