<?php if (empty($awarie)): ?>
    <p>Brak wpisów lub brak dostępu.</p>
<?php else: ?>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Typ</th>
            <th>Temat</th>
            <th>Opis</th>
            <th>Priorytet</th>
            <th>Data zgłoszenia</th>
            <th>Stan</th>
            <th>Zgłaszający</th>
            <th colspan="3">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($awarie as $awaria): ?>
            <tr>
                <td><?= $awaria['id'] ?></td>
                <td><?= $awaria['typ_awarii'] ?></td>
                <td><?= $awaria['temat'] ?></td>
                <td><?= $awaria['opis'] ?></td>
                <td><?= $awaria['priorytet_awarii'] ?></td>
                <td><?= $awaria['data_zgloszenia'] ?></td>
                <td><?= $awaria['stan_awarii'] ?></td>
                <td><pre><?= $awaria['dane_pracownik'] ?></pre></td>
                <td>
                    <a class="button" href="<?= adres("przebieg_awarii", 1) . '&id=' . $awaria['id'] ?>">Przebieg</a>
                </td>
                <td>
                    <?php if ($awaria['stan_awarii'] == 'Przydzielono'): ?>
                        <a class="button" href="<?= adres("awaria_przyjmij", 1) . '&id=' . $awaria['id'] ?>">Przyjmij</a>
                    <?php elseif ($awaria['stan_awarii'] == 'W trakcie naprawy'): ?>
                        <a class="button" href="<?= adres("awaria_naprawiona", 1) . '&id=' . $awaria['id'] ?>">Naprawione</a>
                    <?php endif; ?>
                </td>
                <td>
                    <?php if ($awaria['stan_awarii'] == 'Przydzielono'): ?>
                        <form method="post" action="<?= adres("awaria_utrzymana", 1) . '&id=' . $awaria['id'] ?>">
                            <input type="submit" value="Odrzuć" /><br />
                            <input type="text" name="powod" placeholder="Podaj powód" /><br />
                            <input type="text" name="sugestie" placeholder="Dodatkowe sugestie" />
                        </form>
                    <?php elseif ($awaria['stan_awarii'] == 'W trakcie naprawy'): ?>
                        <form method="post" action="<?= adres("awaria_utrzymana", 1) . '&id=' . $awaria['id'] ?>">
                            <input type="submit" value="Nienaprawione" /><br />
                            <input type="text" name="powod" placeholder="Podaj powód" /><br />
                            <input type="text" name="sugestie" placeholder="Dodatkowe sugestie" />
                        </form>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
