<?php if (empty($specjalisci)): ?>
    <p>Brak wpisów lub brak dostępu.</p>
<?php else: ?>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Dane</th>
            <th>Specjalizacja</th>
            <th>Na urlopie</th>
            <th>Skuteczność</th>
            <th>Ilość przydziałów</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($specjalisci as $specjalista): ?>
            <tr>
                <td><?= $specjalista['id'] ?></td>
                <td><pre><?= $specjalista['dane'] ?></pre></td>
                <td><?= $specjalista['nazwa_typ_awarii'] ?></td>
                <td><?= $specjalista['urlop'] ? 'TAK' : 'NIE' ?></td>
                <td>
                    <?php if($specjalista['skutecznosc']): ?>
                        <?= $specjalista['skutecznosc'] ?> z <?= $specjalista['ilosc_napraw'] ?> napraw</td>
                    <?php else: ?>
                        brak napraw
                    <?php endif; ?>
                <td><?= $specjalista['obecnie_przydzielono'] ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>