<!doctype html>

<html>

<head>
    <meta charset="utf-8" />
    <title><?= $tytul ?> - Obsługa asysty technicznej</title>
    <link rel="stylesheet" href="<?= root ?>style.css" />
</head>

<body>
    <header>
        <h1>Obsługa asysty technicznej</h1>
        <h2><?= $tytul ?></h2>
        <?php if (isset($_SESSION['uzytkownik_id'])): ?>
            <nav>
                <a href="<?= adres("wyloguj") ?>">Wyloguj</a>
                <a href="<?= adres("informacje") ?>">Informacje</a>
                <?php if ($_SESSION['dostep_do_swoich_awarii'] == 'TAK'): ?>
                    <a href="<?= adres("awarie") ?>">Moje awarie</a>
                <?php endif; ?>
                <?php if ($_SESSION['dostep_do_awarii'] == 'TAK'): ?>
                    <a href="<?= adres("zarzadzaj_awariami") ?>">Zarządzaj przydziałami</a>
                <?php endif; ?>
                <?php if ($_SESSION['dostep_do_typow_awarii'] == 'TAK'): ?>
                    <a href="<?= adres("typy_awarii") ?>">Zarządzaj typami awarii</a>
                <?php endif; ?>
                <?php if ($_SESSION['dostep_do_przydzielonych_awarii'] == 'TAK'): ?>
                    <a href="<?= adres("przydzielone_awarie") ?>">Przydzielone awarie</a>
                <?php endif; ?>
                <?php if ($_SESSION['dostep_do_specjalistow'] == 'TAK'): ?>
                    <a href="<?= adres("specjalisci") ?>">Specjaliści</a>
                <?php endif; ?>
            </nav>
        <?php endif; ?>
    </header>
    <?php if (isset($_SESSION['blad'])): ?>
        <p class="block">
            <?= $_SESSION['blad'] ?>
        </p>
    <?php endif; ?>
    <main>
        <?php
            if (file_exists($template))
                include_once $template;
            else
                include_once "domyslne.phtml";
        ?>
    </main>
    <footer>
        <p>Projekt z przedmiotu 'Bazy Danych 1'</p>
        <p>Autor: Kamil Drzazga IS WFiIS AGH</p>
    </footer>
</body>

</html>