<?php if (empty($typy)): ?>
    <p>Brak wpisów lub brak dostępu.</p>
<?php else: ?>
    <h3>Dostępne typy awarii</h3>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th colspan="3">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($typy as $typ): ?>
            <tr>
                <td><?= $typ['id'] ?></td>
                <td><?= $typ['nazwa'] ?></td>
                <td>
                    <form method="post" action="<?= adres("zmien_nazwe_typu_awarii", true) . '&id=' . $typ['id'] ?>">
                        <input type="text" name="nazwa" placeholder="Nowa nazwa" />
                        <input type="submit" value="Zmień nazwę" /><br />
                    </form>
                </td>
                <td>
                    <form method="post" action="<?= adres("zmien_rodzica_typu_awarii", true) . '&id=' . $typ['id'] ?>">
                        <label>Rodzic:
                            <select name="rodzic">
                                <option>Bez kategorii</option>
                                <?php foreach ($typy as $typ_wybierz): ?>
                                    <option
                                        value="<?= $typ_wybierz['id'] ?>"
                                        <?php if ($typ_wybierz['id'] == $typ['rodzic']): ?>
                                            selected
                                        <?php endif; ?>
                                    >
                                        <?= $typ_wybierz['nazwa'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </label>
                        <input type="submit" value="Zmień rodzica" /><br />
                    </form>
                </td>
                <td>
                    <a class="button" href="<?= adres("usun_typ_awarii", true) . '&id=' . $typ['id'] ?>">Usuń</a>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

    <h3>Nowy typ awarii</h3>
    <form method="post" action="<?= adres("dodaj_typ_awarii", true) ?>">
        <fieldset>
            <legend>Formularz dodawania typów awarii</legend>
            <p><label>Nazwa: <input type="text" name="nazwa" /></label></p>
            <p>
                <label>Rodzic:
                    <select name="rodzic">
                        <option value="">Bez kategorii</option>
                        <?php foreach ($typy as $typ): ?>
                            <option value="<?= $typ['id'] ?>">
                                <?= $typ['nazwa'] ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </label>
            </p>
            <p><input type="submit" value="Dodaj typ awarii"" /></p>
        </fieldset>
    </form>
<?php endif; ?>