<?php if (empty($awarie)): ?>
    <p>Brak wpisów lub brak dostępu.</p>
<?php else: ?>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Typ</th>
            <th>Temat</th>
            <th>Opis</th>
            <th>Priorytet</th>
            <th>Data zgłoszenia</th>
            <th>Stan</th>
            <th>Zgłaszający</th>
            <th>Przydzielony specjalista</th>
            <th colspan="2">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($awarie as $awaria): ?>
            <tr>
                <td><?= $awaria['id'] ?></td>
                <td><?= $awaria['typ_awarii'] ?></td>
                <td><?= $awaria['temat'] ?></td>
                <td><?= $awaria['opis'] ?></td>
                <td><?= $awaria['priorytet_awarii'] ?></td>
                <td><?= $awaria['data_zgloszenia'] ?></td>
                <td><?= $awaria['stan_awarii'] ?></td>
                <td><pre><?= $awaria['dane_pracownik'] ?></pre></td>
                <td>
                    <?php if ($awaria['stan_awarii'] == 'Nie przydzielono'): ?>
                        <form method="post" action="<?= adres("awaria_przydziel", true) . '&awaria_id=' . $awaria['id'] ?>">
                            <label>Typ:
                                <select name="specjalista_id">
                                    <option value="">--Wybierz specjalistę--</option>
                                    <?php foreach ($specjalisci as $specjalista): ?>
                                        <option value="<?= $specjalista['id'] ?>">
                                            #<?= $specjalista['id'] ?>
                                            <?= $specjalista['imie'] ?>
                                            <?= $specjalista['nazwisko'] ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            </label>
                            <input type="submit" value="Przydziel" /><br />
                        </form>
                    <?php else: ?>
                        <pre><?= $awaria['dane_specjalista'] ?></pre>
                    <?php endif; ?>
                </td>
                <td>
                    <a class="button" href="<?= adres("przebieg_awarii", true) . '&id=' . $awaria['id'] ?>">Przebieg</a>
                </td>
                <td>
                    <?php if ($awaria['stan_awarii'] == 'Nie przydzielono'): ?>
                    <form method="post" action="<?= adres("awaria_zarzuc", true) . '&id=' . $awaria['id'] ?>">
                        <input type="submit" value="Odrzuć" /><br />
                        <input type="text" name="powod" placeholder="Podaj powód" /><br />
                        <input type="text" name="sugestie" placeholder="Dodatkowe sugestie" />
                    </form>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>